@import url("https://fonts.googleapis.com/css?family=Lora:700|Poppins:400");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins";
  font-weight: 400;
}

html,
body {
  /* user-select: none; */
  /* overflow-x: hidden; */
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Lora";
  font-weight: 700;
}


@base {
  h1 {
    @apply text-5xl lg:text-7xl;
  }
}
