@import url("https://fonts.googleapis.com/css?family=Lora:700|Poppins:400");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins";
  font-weight: 400;
}

html,
body {
  user-select: none;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Lora";
  font-weight: 700;
}

.word-wrapper {
  white-space: nowrap;
}
@base {
  h1 {
    @apply text-5xl lg:text-7xl;
  }
}

/* MArque */

/* .scroller {
    max-width: 600px;
  } 
  @media (max-width: 600px) {
    .scroller {
      max-width: 350px;
    }
  } */

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  /* -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent); */
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
